<a href="https://colab.research.google.com/github/kartiknarayansahoo/deep_learning_specialization/blob/main/jovian-dl/Assignment%202%20-%20Train%20your%20first%20model/jovian_training_first_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
import torch
import torchvision
import torch.nn as nn
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import torch.nn.functional as F
from torchvision.datasets.utils import download_url
from torch.utils.data import DataLoader, TensorDataset, random_split

In [2]:
DATASET_URL = "https://gist.github.com/BirajCoder/5f068dfe759c1ea6bdfce9535acdb72d/raw/c84d84e3c80f93be67f6c069cbdc0195ec36acbd/insurance.csv"
DATA_FILENAME = "insurance.csv"
download_url(DATASET_URL, '.')

Using downloaded and verified file: ./insurance.csv

In [3]:
dataframe_raw = pd.read_csv(DATA_FILENAME)
dataframe_raw.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [6]:
def customize_dataset(dataframe_raw, rand_str):
    dataframe = dataframe_raw.copy(deep=True)
    # drop some rows
    dataframe = dataframe.sample(int(0.95*len(dataframe)), random_state=int(ord(rand_str[0])))
    # scale input
    dataframe.bmi = dataframe.bmi * ord(rand_str[1])/100.
    # scale target
    dataframe.charges = dataframe.charges * ord(rand_str[2])/100.
    # drop column
    if ord(rand_str[3]) % 2 == 1:
        dataframe = dataframe.drop(['region'], axis=1)
    return dataframe

In [7]:
dataframe = customize_dataset(dataframe_raw, 'Kartik')

In [8]:
num_rows = len(dataframe)
print(num_rows)

1271

In [9]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1271 entries, 1307 to 661
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1271 non-null   int64
 1   sex       1271 non-null   object
 2   bmi       1271 non-null   float64
 3   children  1271 non-null   int64
 4   smoker    1271 non-null   object
 5   region    1271 non-null   object
 6   charges   1271 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 79.4+ KB

In [11]:
num_columns = len(dataframe.columns)
print(num_columns)

7

In [12]:
rows, columns = dataframe.shape
print(rows, columns)

1271 7

In [19]:
input_cols = list(dataframe.columns[:-1])
print(input_cols)

['age', 'sex', 'bmi', 'children', 'smoker', 'region']

In [26]:
categorical_cols = list(dataframe.select_dtypes(include=['object']).columns)
print(categorical_cols)

['sex', 'smoker', 'region']

In [51]:
output_cols = list(dataframe.columns[-1].string)
print(output_cols)

AttributeError: ignored

# Preparing the dataset for training

In [27]:
def dataframe_to_arrays(dataframe):
  # make a copy of the original dataframe
  dataframe1 = dataframe.copy(deep=True)
  # convert non-numeric categorical columns to numbers
  for col in categorical_cols:
    dataframe1[col] = dataframe1[col].astype('category').cat.codes
  # extract input and outputs as numpy arrays
  inputs_array = dataframe1[input_cols].to_numpy()
  targets_array = dataframe1[output_cols].to_numpy()
  return inputs_array, targets_array

In [28]:
inputs_array, targets_array = dataframe_to_arrays(dataframe)
inputs_array, targets_array

(array([[32.     ,  1.     , 27.2764 ,  4.     ,  1.     ,  1.     ],
        [59.     ,  0.     , 34.144  ,  0.     ,  0.     ,  2.     ],
        [37.     ,  0.     , 33.08185,  1.     ,  0.     ,  1.     ],
        ...,
        [57.     ,  0.     , 19.497  ,  1.     ,  0.     ,  3.     ],
        [23.     ,  1.     , 33.368  ,  0.     ,  0.     ,  3.     ],
        [57.     ,  0.     , 23.2606 ,  1.     ,  0.     ,  2.     ]]),
 array([24478.625832 , 13958.76534  ,  6968.082363 , ..., 13716.85164  ,
         2082.60102  , 25299.3783054]))

In [34]:
# converting array dtype to float32 for faster computation on GPU
inputs_array = inputs_array.astype('float32')
targets_array = targets_array.astype('float32')

In [35]:
inputs_array.dtype, targets_array.dtype

(dtype('float32'), dtype('float32'))

In [37]:
from numpy import dtype
inputs = torch.from_numpy(inputs_array)
targets = torch.from_numpy(targets_array)

In [38]:
inputs.dtype, targets.dtype

(torch.float32, torch.float32)

In [39]:
dataset = TensorDataset(inputs, targets)

In [43]:
val_percent = 0.15
val_size = int(num_rows*val_percent)
train_size = num_rows-val_size
train_ds, val_ds = random_split(dataset, lengths = [train_size, val_size])

In [44]:
batch_size = 256

In [45]:
train_loader = DataLoader(train_ds, batch_size, shuffle=True)
val_loader = DataLoader(val_ds, batch_size)

In [48]:
for xb, yb in train_loader:
  print('inputs: ', xb)
  print('outputs: ', yb)
  break

inputs:  tensor([[42.0000,  1.0000, 24.1142,  0.0000,  0.0000,  2.0000],
        [28.0000,  0.0000, 25.1569,  1.0000,  0.0000,  1.0000],
        [58.0000,  0.0000, 27.3685,  0.0000,  0.0000,  1.0000],
        ...,
        [51.0000,  0.0000, 19.9820,  0.0000,  0.0000,  3.0000],
        [47.0000,  0.0000, 43.9604,  1.0000,  0.0000,  2.0000],
        [26.0000,  0.0000, 16.6791,  2.0000,  1.0000,  0.0000]])
outputs:  tensor([ 6802.2515,  4712.3516, 13935.7598, 16505.2969, 10906.3691, 55729.0547,
        14171.2871,  9808.3584,  2254.7090, 23921.8672,  3621.5701,  9748.5352,
         3615.6409, 10516.7920,  1860.1018, 24194.9902, 24712.1035,  8880.1836,
         5869.3501,  2436.9250, 12458.8877,  3255.1987, 22970.2285, 11897.1494,
        42368.2852,  2396.5818,  9068.1494, 50070.1484, 42064.5547,  9707.9648,
         9407.6045, 14948.3691,  6234.6675,  3979.2261,  3507.8889,  5411.6401,
         1832.5615,  2624.6221, 11063.3213, 21887.9355, 22166.4629,  1960.1573,
         3109.2305,  4051.7915, 19472.4316, 12494.0518,  7490.9678,  5959.9072,
         2528.0654, 32035.5195, 28880.0000, 17509.3789, 39049.6211, 13498.4834,
         3249.7795, 27322.8164,  4486.1050,  2428.9705,  4955.6064, 13827.7598,
        10424.8037,  9443.3965, 10973.5488,  3838.0034,  5054.0620,  7693.3940,
         8811.7959,  5054.6641,  2100.4717,  1296.1925, 13057.5850, 10219.0293,
         7361.9414, 11963.0986,  5151.4619,  9811.0879,  3491.2595,  8349.0576,
         5015.6934,  9261.8252, 13547.8154,  9501.2812,  6103.6450, 10196.2910,
        17732.9160, 13037.8818,  5135.3149, 13544.7480, 50827.4180, 14419.5215,
         8204.4287,  5448.7466,  4259.5698,  5059.6201, 10588.3506,  8145.1436,
        45287.0898, 14967.7480, 41182.0156,  9624.6406, 13958.7656,  2520.6890,
         8037.0244,  5791.3096, 42980.1406, 13986.2412,  9729.5254, 11254.8789,
         9733.6484, 12520.0518, 23279.4902,  8809.0684,  4863.4292, 34272.4805,
        20699.9785,  5201.6401,  4155.4019, 41390.8906,  9215.6689,  4827.8169,
         4420.1270,  7066.5771,  5160.9888,  1849.2949,  5832.8105, 18337.0449,
         5180.4277,  3088.5381,  4596.7544, 27231.9355, 53453.7578,  9715.0830,
        14588.8193, 10604.1582, 11882.1250, 53928.0469, 15310.5020, 21395.2207,
         7963.4780,  7818.6665, 10182.5762, 24337.5254, 21608.9512,  2657.9316,
         1947.1216,  4606.2363,  3196.2156, 44128.4609, 13500.5908,  8808.6133,
        27140.2539,  4097.3550,  1841.9740,  6127.5435,  5433.2651, 45289.4805,
         5732.0869, 21437.4180,  5410.8320,  2573.5217, 15452.7061, 20018.8320,
        11625.4600,  7599.5171,  4925.2686,  3056.2822,  5327.6670,  7724.5957,
        24819.3301,  4475.3643, 27944.9238, 28593.2148,  3472.5107,  2433.7876,
        15961.2930, 48226.2109, 13713.3867,  1856.4568,  5211.4106, 38654.6055,
         4255.1924, 14800.4775, 24618.7363,  9394.2725, 34524.4922,  7794.6001,
        12646.7305, 13124.1416, 13982.6777, 10886.5039,  5603.1685, 45453.7422,
         1950.5706, 23690.8965, 11113.7578,  2801.5522, 11707.1846,  1307.3481,
        53122.9844,  8162.5073,  9721.3867, 12213.5537,  3193.4351,  3090.3445,
         4056.8271,  7912.6372, 14416.6758,  1869.1019,  2846.6238,  6071.2422,
        68424.3984, 14397.2490, 28120.8574,  7225.4062, 15647.0381,  9464.8906,
        10221.0068, 20411.1602, 46077.6836, 13948.8564,  2801.2207,  4078.9189,
         9591.3477, 52669.1211,  7380.3750,  9139.4502, 31029.0176,  9385.2080,
         3753.4841,  6153.2832,  1415.3842, 48985.6328,  3140.7239, 10480.9756,
        50096.0195, 10967.1768, 13371.8350,  2140.8396, 22072.6777, 11913.6289,
        12888.7656,  6563.4512, 15888.9395,  9426.7100,  5567.6074,  4948.1025,
        25244.1973,  2741.3965,  8233.9766, 12818.5898, 34389.9453,  2947.2065,
        33221.1523, 10561.8682,  9769.6426, 16479.4336])


# Create a linear regression model

In [50]:
input_size = len(input_cols)
output_size = len(output_cols)
input_size, output_size

(6, 7)